@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: linear-gradient(to top, #930ced 0%, #5b66fb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 80%;
  box-shadow: 0px 0px 3px 0px #000000;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  margin: 30px 0;
}
nav {
  text-decoration: none;
  width: 100%;
  text-align: right;
}
li {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
li > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 9px;
}
li > a:hover {
  color: #930ced;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.column-1 {
  margin-left: 50px;
  position: relative;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0;
}
.column-1 > p {
  font-size: 16px;
  color: #b7b7b7b7;
  font-weight: 100;
}
.column-1::before{
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(to top, #930ced 0%, #5b66fb 100%);
  position: absolute;
  left: -40px;
  top: 8px;
}
h4 {
  font-size: 20px;
  color: black;
  margin: 30px 0;
}
.buy {
  width: 140px;
  border: none;
  padding: 12px 10px;
  outline: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
  background: linear-gradient(to top, #930ced 0%, #5b66fb 100%);
  transition:all 0.5s ease-in-out;
}

.buy > img{
  width: 30px;
  display: none;
}
.buy:hover{
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}
.buy:hover > img{
  display: block;

}
.column-2 {
  display: flex;
  align-items: center;
  position: relative;
}
.img1 {
  width: 90%;
  z-index: 2;
  animation: mvcontroller 2s infinite alternate ease-in-out;
} 
 @keyframes mvcontroller {
    from{
      transform:translate(-5%,-5%) rotate(-5deg);
    }
  }
.add-cart {
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add-cart > img {
  width: 100%;
  height: 100%;
  max-width: 55px;
}
.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #930ced 0%, #5b66fb 100%);
  height: 100%;
  width: 80%;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
  transform: translateX(150px);
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links img {
  height: 20px;
  margin: 20px;
  cursor: pointer;
}
.menu-icon{
    width: 25px;
    margin-right: 15px;
    display: none;
}
@media (max-width : 760px){
.container{
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    overflow-y: auto;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  #menu-list{
  position: relative;
  top: 79px;
  left: 60px;
  overflow: hidden;
  transition: all 0.6s  ease-in-out;
  }
  .nav-li{
    display: block;
    margin-top: 5px;
  }
  .row{
    flex-direction: column-reverse;
  }
  .column-2{
    margin-bottom:30px ;
  }
  .color-box{
    transform: translateX(70px);
  }
  .column-1 > h2 {
    font-size: 35px;
}
.column-1 > h4 {
   text-align: center;
   margin-left: -49px;
}
.column-1 > button{
  position: relative;
 
  margin-left: 59px;
  margin-top: -10px;
} 
}